* {
	box-sizing: border-box;
	color: rgb(112, 90, 90);
}

body {
	font-family: monaco, sans-serif;
	background-color: #fad7d6;
}

h1 {
	padding: 2%;
	text-align: center;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.row {
	text-align: center;
	width: 100%;
	height: 700px;
}

.col {
	margin: 10px auto;
	padding: 10px;
}

.card {
	border: 1px solid rgb(112, 90, 90);
	width: 100%;
	height: 230px;
	position: relative;
	overflow: auto;
}

#card-1 {
	background-color: #CBD5F0;
}

#card-2 {
	background-color: rgb(245, 166, 166);
}

#card-3 {
	background-color: rgb(245, 186, 247);
}

p {
	margin: 10px;
	padding: 25px;
}

.card-title {
	width: 150px;
	height: 30px;
	padding-top: 5px;
	border-bottom: 1px solid rgb(112, 90, 90);
	border-left: 1px solid rgb(112, 90, 90);
	position: absolute;
	right: 0%;
	font-weight: bolder;
}

#title-1 {
	background-color: #fced6d;
}

#title-2 {
	background-color: #fced6d;
}

#title-3 {
	background-color: #fced6d;
}




/* desktop */
@media (min-width: 992px) {

	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		float: left;
	}

	.col-lg-1 {
		width: 8.33%;
	}

	.col-lg-2 {
		width: 16.66%;
	}

	.col-lg-3 {
		width: 25%;
	}

	.col-lg-4 {
		width: 33.33%;
	}

	.col-lg-5 {
		width: 41.66%;
	}

	.col-lg-6 {
		width: 50%;
	}

	.col-lg-7 {
		width: 58.33%;
	}

	.col-lg-8 {
		width: 66.66%;
	}

	.col-lg-9 {
		width: 74.99%;
	}

	.col-lg-10 {
		width: 83.33%;
	}

	.col-lg-11 {
		width: 91.66%;
	}

	.col-lg-12 {
		width: 100%;
	}
}

/* tablet */
@media(min-width: 768px) and (max-width:991px) {

	.col-md-1,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-md-10,
	.col-md-11,
	.col-md-12 {
		float: left;
	}

	.col-md-1 {
		width: 8.33%;
	}

	.col-md-2 {
		width: 16.66%;
	}

	.col-md-3 {
		width: 25%;
	}

	.col-md-4 {
		width: 33.33%;
	}

	.col-md-5 {
		width: 41.66%;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-7 {
		width: 58.33%;
	}

	.col-md-8 {
		width: 66.66%;
	}

	.col-md-9 {
		width: 74.99%;
	}

	.col-md-10 {
		width: 83.33%;
	}

	.col-md-11 {
		width: 91.66%;
	}

	.col-md-12 {
		width: 100%;
	}
}